*{
    box-sizing: border-box;
}
.header-bottom nav{
    display: flex;
    align-items: center;
    height: 37px;
}
.header-nav{
background-color:#04638f;
height: 63px;
}
.nav-header-top .nav{
    display: flex;
    height: 37px;
}
.text{
    font-size: 10px;
    margin-bottom: 30px;
    margin-left: 155px;
    color: whitesmoke;
}
.nav-header-top ul .li-search{
    background-color:#02eefc;
    margin:30px;
    width:100%;
    height: 63px;
    padding-top: 12px;
}

.logo{
    background-color: #02eefc;
    width: 165px;
    height: 63px;
}
.nav-header-top ul .li-login{
    background-color: #04638f;
    margin:30px;
    padding:4px;
    width: 100%;
    height: 63px;
    display: grid;
    border-radius: 500px 0px 0px 0px;
    padding-left: 10px;
}

.glyphicon-filter{
    margin-top: 10px;
    margin-left: 15px;
    font-size: 15px;
    font-weight: bold;
}
.nav-header-top ul li a{
    font-size: 14px;
    margin:9px
}
.nav-header-top u{
    display: flex;
    justify-content: space-around;
    width: 100%;
    margin:9px
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.nav-links-2{
    display: flex;
    justify-content: space-around;
    width: 100%;
}
.nav-links li{
    list-style: none;
}
.header-nav ul{
    display: flex;
    align-items: center;
}
.header-nav li{
    list-style: none;
}
.nav-links a{
    text-decoration: none;
    color:whitesmoke;
    font-size: 14px;
}
.nav-links a:hover{
    text-decoration: none;
    color:#02eefc;
}
.burger{
    display: none;
    cursor: pointer;
}
.burger2{
    display: none;
    cursor: pointer;
}
.burger div{
    flex: 1;
    width: 30px;
    height: 4px;
    background-color: whitesmoke;
    margin-bottom: 10px;
    float: right;
}
.burger2 .item2{
    flex: 1;
    width: 30px;
    height: 4px;
    background-color: whitesmoke;
    margin-bottom: 10px;
    float: left;
}
@media screen and (max-width: 1024px) {
    .nav-links{
        width: 60%;
    }
    .nav-links-2{
        width:60%;
    }
    body{
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    body{
        overflow-x: hidden ;
    }    
   .nav-links{
       margin-right:0px;
       margin-top: 35px;
       position: absolute;
       height: 92vh;
       top:20vh;
       background-color: #04638f;
       display: flex;
       flex-direction: column;
       align-items: center;
       width: 50%;
       float: left;
       transform: translateX(-300%);
       transition: transform 0.5s ease-out;
   }
   .nav-links .burger{
       margin-left: 10000%;
   }
   .nav-links li{
       opacity: 1;
   }
   .nav-links li:hover{
        text-decoration: none;
        color:#02eefc;
   }

   .nav-links-2{
    margin-right:0px;
    margin-top: 35px;
    position: relative;
    height: 92vh;
    top:20vh;
    background-color:#02eefc;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 50%;
    float: left;
    transform: translateX(-500%);
    transition: transform 0.5s ease-out;
    }
    .nav-links-2 .burger-2{
        margin-left: 10000%;
    }
    .nav-links-2 .item-li-2{
        opacity: 1;
    }
    .nav-links-2 .item-li-2:hover{
        text-decoration: none;
        color:#02eefc;
    }

   .burger{
       display: block;
   }
   .burger2{
    display: block;
    }
}
.nav-active{
    transform: translateX(10%);
}
.nav-click{
    transform: translateX(10%);
}