*{
    padding: 0;
    margin:0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

.header-top{
    background-color: #02eefc;
}

.header-top nav{
    height: 60px;
    width: 100%;
}
.header-top nav ul li{
    padding-left: 15px;
    padding-right: 15px;
    display:  inline-block;
    color:#003b50;
    text-transform: uppercase;
}
.header-top nav ul li a:hover{
    color: #0c8fb0;
}

.header-top nav ul{
    float:right;
    margin-top: 10px;
}
.header-top nav ul li a{
    color: #003b50;
    text-decoration: none;
}
.navbar-search{
    height: 40px;
    width: 720px;
    border-radius: 15px;
    border: 0px;
    padding: 15px;
}
.navbar-search:focus{
    outline: none;
}
.header-top .li-btn{
    display: none;
}
.btn-search-res{
    border: 0px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 123px;
    height: 40px;
    color: #02eefc;
    background: #013750;
}
.li-btn:hover{
    background-color: #0c8fb0;
}
.header-top .check-Btn{
    font-size: 30px;
    color: white;
    float: right;
    margin-right: 40px;
    cursor: pointer;
    display: none;
    margin-top:10px
}
.header-top #check{
    display: none;
}

.btn-search{
    border: 0px;
    border-radius: 15px;
    padding-left: 15px;
    padding-right: 15px;
    width: 123px;
    height: 40px;
    color: #02eefc;
    background: #013750;
}
.btn-search:focus{
    outline: none;
}


/*Menu bottom*/
.header-bottom{
    background: #04638f;
    padding-top: 15px;
}
.header-bottom a:hover{
    color: #02eefc;
}
.header-bottom nav{
    height: 37px;
    width: 100%;
}
.header-bottom nav ul li{
    padding-left: 15px;
    padding-right: 15px;
    display:  inline-block;
    color:whitesmoke;
    text-transform: uppercase;
}
.header-bottom nav ul li a{
    color: whitesmoke;
    text-decoration: none;
}
.header-bottom nav ul{
    text-align: center;
}


/*menu info*/
.menu-info{
    background: #e1e1e1;
    height: 37px;
    padding-top:5px ;
}

.menu-info nav ul li{
    display:  inline-block;
}

.menu-info ul li a{
    text-decoration: none;
    margin-left: 15px;
    margin-top:10px ;
}
.menu-info .item{
    color: red;
}
.menu-info .item-main{
    color: rgb(4, 1, 26);
}

/*Content*/
.content{
    padding-top:15px;
    padding-left: 15px;
    padding-right: 15px;
}
    /*Content top*/
        /*Content top left*/
.content-top-left{
    margin-left: 10px;
    border-radius: 4px;
    height: 500px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    width: 330px;
}
.content-top-left .title label{
    background:  #04638f;
    width: 100%;
    text-transform: uppercase;
    color: whitesmoke;
    border-radius: 4px 4px 0 0;
    padding-left: 20px;
    padding-top: 5px;
    padding-bottom: 5px;
}
.content-top-left .title ul{
    margin-left: 20px;
}
.content-top-left .title ul li{
    margin-top: 10px;
}
.content-top-left .title ul li a{
    text-decoration: none;
    color: black;
}
.content-top-left .title ul li a:hover{
    color: #02eefc;
}
        /*Content top right*/
.content-top-right{
    height:500px;
    margin-left: 30px;
    width: 75%;
}
.content-top-right .title label{
    font-size:20px; font-weight: bold; color: gray;
}
.content-top-right .status .btn-like{
    border:0px;
    border-radius:3px;
    padding: 5px;
    
}
.content-top-right .status .btn-like .fa-heart{
    color: red;
}
.content-top-right .status  .fa-google-plus-g{
    background-color: gray;
    height: 23px;
    width: 23px;
    padding: 3px;
    text-align: center;
    border-radius: 50%;
    color: white;
}
.content-top-right .status  .fa-facebook-f{
    background-color: gray;
    height: 23px;
    width: 23px;
    padding: 3px;
    text-align: center;
    border-radius: 50%;
    color: white;
    margin-left: 10px;
}

.content-top-right .content-main{
    background-color: #04638f;
    margin-top: 20px;

}
.content-top-right .content-main  nav ul{
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #04638f;
    text-align: center;
}

.content-top-right .content-main  nav ul li{
    text-transform: uppercase;
    border: 1;
    margin-left: 60px;
    margin-top: 10px;
    margin-bottom: 10px;
    display: inline-block;
    
}


.content-top-right .content-main  nav ul li:hover{
    background: #013750;
}
.content-top-right .content-main  nav ul li a{
    display: inline-block;
    color: white;
    text-align: center;
    padding: 5px 5px;
    text-decoration: none;
}

.section-change{
    margin-top: 10px;
    color: #003b50;
    text-transform: uppercase;
}
.border-section{
    border-bottom: 3px solid;
    width: 200px;
    color: gray;
}
/*Content button*/
.content-bottom {
    margin-top: 20px;
    padding-left: 20px;
}
.item1{
    height: 244px;
    border-radius: 4px;
    box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.2);
    margin-left: 15px;
    width: 347px;
    margin:10px;
}
.content-bottom .item1 .item1-top{
    padding-top:5px;
    padding-left: 5px;
    padding-right: 5px;
    height: 180px;
    width: 347px;
    background-image: url('../images/house2.jpg') ;
    background-size: auto;
    border-radius: 4px 4px 0px 0px;
}
.content-bottom .item1 .item1-top:hover{
    background: url('../images/house.jpg');
}
.content-bottom a{
    text-decoration:none;
    color: #003b50;
}
.content-bottom a:hover{
    text-decoration:none;
    color: #02eefc;
}
.content-bottom .item1 .item1-top .item1-title{
    background-color: rgba(29, 201, 231, 0.719);
    font-size: 13px;
    width: 60px;
    padding: 3px;
    border-radius: 4px;
    color: rgba(255, 255, 255, 0.76);
}
.content-bottom .item1 .item1-top .item1-info{
    margin-top: 73px;
    color: rgba(255, 255, 255, 0.877);
    font-weight: bold;
    font-size: 13px;
    font-family: Arial, Helvetica, sans-serif;
}
.content-bottom .heart-like{
    margin-left: 130px;
}
.content-bottom .item1 .item1-top label{
    color: rgb(255, 255, 255);
    font-weight: bold;
    font-size: 13px;
}
.content-bottom .item1 .item1-top .m2{
    background-color: rgb(255, 255, 255);
    color: gray;
}
.content-bottom .item1 .item1-top .toilet{
    margin-left: 40px;
}
.content-bottom .item1 .item1-top .house{
    margin-left: 140px;
    
}.content-bottom .item1 .item1-bottom .date{
    margin-left: 70px;
    color: rgba(128, 128, 128, 0.699);
    
}
.content-bottom .item1 .item1-bottom .time{
    color: rgba(128, 128, 128, 0.699);
    
}
/*Reponsive*/
@media (max-width: 1480px){
    .navbar-search{
        width: 90%;
    }
}


@media (max-width: 952px){
    .logo-header{
        width: 30px;
        padding-left: 50px;
    }
    
    .header-top nav ul li{
        font-size: 16px;
    }
    .navbar-search{
        width: 10%;
    }

}


@media (max-width: 1202px){
    .header-top .check-Btn{
        display: block;
    }

    .header-top nav ul{
        position: fixed;
        width:100%;
        height:100vh;
        background: #2c3e50;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    .header-top nav ul li{
        display: block;
        color:white;
        margin:20px 0;
        line-height: 30px;
    }
    .header-top nav ul li a{
        color:white
    }
    #check:checked ~ .menu{
        left: 0;
    }
    .header-bottom nav ul{
        width:100%;
        height:600%;
        text-align: center;
        background-color:  #04638f;
    }
    .header-bottom nav ul li{
        display: block;
        text-align: center;
        margin-top: 10px;
    }
    .menu-info{
        margin-top: 150px;
        height: 60px;
    }
    .navbar-search{
        width: 80%;
    }
    .section-change{
        margin-top: 250px;
    }
    .header-bottom nav ul li{
        margin-top: 5px;
        border-bottom: 1px solid #e1e1e1;
    }
    .header-bottom nav ul .li-last{
        border-bottom: 0;
    }


    .content-top-right .content-main  nav ul li{
        text-transform: uppercase;
        border: 1;
        margin-left: 115px;
        margin-top: 10px;
        margin-bottom: 10px;
        display: inline-block;
        border-bottom: 1px solid #e1e1e1;
        border-right: none;
    }
    .header-top .li-btn{
        display: block;
    }
    .btn-search{
        display: none;
    }
    .content-top-right .content-main  nav ul .li{
        border-bottom: 0;
    }
    .content-bottom .item1 .item1-top{
        width:100%;
    }
    .content-bottom .item1{
        width: 90%;
        height: 100%;
    }

    .content-bottom .item1 .item1-top .toilet{
        margin-left:10%;
    }
    .content-bottom .item1 .item1-top .house{
        margin-left: 10%;
        
    }.content-bottom .item1 .item1-bottom .date{
        margin-left: 10%;
        color: rgba(128, 128, 128, 0.699);
        
    }
    .content-bottom .heart-like{
        margin-left: 30%;
    }
}